In [222]:
import pandas as pd
import os
from time import sleep
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.action_chains import ActionChains

from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import urllib
import pathlib
import datetime

In [2]:
CHROMEDRIVER_PATH = './chromedriver'
WINDOW_SIZE = "1920,1080"

In [3]:
# Comman function for init driver
def init_driver(url):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument('--disable-blink-features=AutomationControlled')
    chrome_options.add_experimental_option("excludeSwitches", ["enable-automation"])
    chrome_options.add_experimental_option('useAutomationExtension', False)
    
    pathlib.Path('download').mkdir(parents=True, exist_ok=True) 
    
    preferences = {
        "download.default_directory": os.getcwd() + os.path.sep + '/download',
    }

    chrome_options.add_experimental_option('prefs', preferences)

    driver = webdriver.Chrome(executable_path=CHROMEDRIVER_PATH,options=chrome_options)
    driver.maximize_window()
    driver.get(url)
    return driver

In [4]:
def wait_for_page_load(xpath_url):
    try:
        element_present = EC.presence_of_element_located((By.XPATH, xpath_url))
        WebDriverWait(driver, 5).until(element_present)
    except TimeoutException:
        pass
    except NoSuchElementException:
        print("Element not found")

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:
* A) Rank
* B) Name
* C) Artist
* D) Upload date
* E) Views

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

In [7]:
driver = init_driver(url)

In [10]:
table = driver.find_element_by_xpath('//div[@id="mw-content-text"]//table[@class="wikitable sortable jquery-tablesorter"]//tbody/tr')

In [14]:
all_data = []
for one_box in all_box[:30]:
    rank = one_box.find_elements_by_xpath('.//td')[0].text
    name = one_box.find_elements_by_xpath('.//td')[1].text
    artist = one_box.find_elements_by_xpath('.//td')[2].text
    views = one_box.find_elements_by_xpath('.//td')[3].text
    upload_date = one_box.find_elements_by_xpath('.//td')[4].text
    
    all_data.append({
        'rank' : rank,
        'name' : name,
        'artist' : artist,
        'views' : views,
        'upload_date' : upload_date,
    })

df = pd.DataFrame(all_data)
df

,rank,name,artist,views,upload_date
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.32,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.54,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.71,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.46,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.26,"April 6, 2015"
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.51,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.51,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012"
8,9.,"""Uptown Funk""[34]",Mark Ronson,4.29,"November 19, 2014"
9,10.,"""Gangnam Style""[35]",Psy,4.19,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[37]",ChuChu TV,4.16,"March 6, 2014"
11,12.,"""Dame Tu Cosita""[38]",El Chombo,3.59,"April 5, 2018"
12,13.,"""Sugar""[39]",Maroon 5,3.55,"January 14, 2015"
13,14.,"""Sorry""[40]",Justin Bieber,3.47,"October 22, 2015"
14,15.,"""Roar""[41]",Katy Perry,3.43,"September 5, 2013"
15,16.,"""Counting Stars""[42]",OneRepublic,3.39,"May 31, 2013"
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,3.32,"October 7, 2014"
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.26,"May 24, 2018"
18,19.,"""Dark Horse""[45]",Katy Perry,3.14,"February 20, 2014"
19,20.,"""Faded""[46]",Alan Walker,3.14,"December 3, 2015"
20,21.,"""Girls Like You""[47]",Maroon 5,3.12,"May 31, 2018"
21,22.,"""Shake It Off""[48]",Taylor Swift,3.10,"August 18, 2014"
22,23.,"""Lean On""[49]",Major Lazer,3.09,"March 22, 2015"
23,24.,"""Bailando""[50]",Enrique Iglesias,3.09,"April 11, 2014"
24,25.,"""Let Her Go""[51]",Passenger,3.07,"July 25, 2012"
25,26.,"""Axel F""[52]",Crazy Frog,3.00,"June 16, 2009"
26,27.,"""Mi Gente""[53]",J Balvin,2.98,"June 29, 2017"
27,28.,"""Perfect""[54]",Ed Sheeran,2.95,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.94,"June 4, 2010"
29,30.,"""Hello""[56]",Adele,2.88,"October 22, 2015"

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:
* A) Match title (I.e. 1 st ODI)
* B) Series
* C) Place
* D) Date
* E) Time
###### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [85]:
driver.get('https://www.bcci.tv/')

In [87]:
driver.find_element_by_xpath('//div[contains(@class,"navigation__drop-down")]').click()
driver.find_element_by_xpath('//a[contains(text(),"Fixtures")]').click()

In [88]:
driver.find_element_by_xpath('//button[contains(@class,"js-show-more-button")]').click()

In [89]:
all_box = driver.find_elements_by_xpath('//div[@class="event-list__list"]//a')

In [90]:
all_list = []
for one_box in all_box:
    date_time = one_box.find_element_by_xpath('.//div[@class="fixture__full-date"]')
    date = date_time.find_elements_by_xpath('.//span')[0].text
    month = date_time.find_elements_by_xpath('.//span')[1].text
    time = date_time.find_elements_by_xpath('.//span')[2].text
    
    match_title = one_box.find_element_by_xpath('.//div[contains(@class,"fixture__info")]//span[contains(@class,"fixture__format")]').text
    series = one_box.find_element_by_xpath('.//div[contains(@class,"fixture__info")]//span[contains(@class,"fixture__tournament-label")]').text
    place = one_box.find_element_by_xpath('.//div[contains(@class,"fixture__description")]//p/span').text
    date = date + ' ' + month
    time = time

    
    all_list.append({
        'match_title': match_title,
        'series': series,
        'place': place,
        'date': date,
        'time': time,

    })
    
df = pd.DataFrame(all_list)
df

,match_title,series,place,date,time
0,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",24 OCTOBER,19:30 IST
1,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",31 OCTOBER,19:30 IST
2,T20I,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",03 NOVEMBER,19:30 IST
3,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",05 NOVEMBER,19:30 IST
4,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",08 NOVEMBER,19:30 IST
5,T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",17 NOVEMBER,19:00 IST
6,T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",19 NOVEMBER,19:00 IST
7,T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",21 NOVEMBER,19:00 IST
8,TEST,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25 NOVEMBER,09:30 IST
9,TEST,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03 DECEMBER,09:30 IST
10,TEST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",17 DECEMBER,13:30 IST
11,TEST,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",26 DECEMBER,13:30 IST
12,TEST,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",03 JANUARY,13:30 IST
13,ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",11 JANUARY,14:00 IST
14,ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14 JANUARY,14:00 IST
15,ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",16 JANUARY,14:00 IST
16,T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",19 JANUARY,19:30 IST
17,T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",21 JANUARY,19:30 IST
18,T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",23 JANUARY,19:30 IST
19,T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",26 JANUARY,19:30 IST

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
* A) Name
* B) Description
###### Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [96]:
driver.get('https://www.guru99.com')

In [97]:
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [98]:
driver.find_element_by_xpath('//a[@data-lasso-id="182688"]').click()

In [99]:
all_box = driver.find_elements_by_xpath('//table/tbody/tr')

In [100]:
all_list = []
for i, one_box in enumerate(all_box):
    if i == 0 :
        continue
        
    name = one_box.find_elements_by_xpath('.//td')[0].text
    description = one_box.find_elements_by_xpath('.//td')[1].text
    
    all_list.append({
        'name': name,
        'description': description
    })
    
        
df = pd.DataFrame(all_list)
df

,name,description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details:
* Rank
* State
* GSDP at current price (19-20)
* GSDP at current price (18-19)
* Share(18-19)
* GDP($ billion)
##### Note: - From statisticstimes home page you have to reach to economy page through code.

In [219]:
driver.get('https://statisticstimes.com/')

In [220]:
drop_down_element = driver.find_element_by_xpath('//button[contains(text(),"Economy")]')

In [223]:
# Hovering 
ActionChains(driver).move_to_element(drop_down_element).perform()

In [224]:
driver.find_element_by_xpath('//div[@class="dropdown-content"]/a[@href="economy/india-statistics.php"]').click()

In [225]:
driver.find_element_by_xpath('//a[contains(text(),"GDP of Indian states")]').click()

In [226]:
all_boxes = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr')

In [229]:
all_data = []
for one_box in all_boxes:
    
    rank = one_box.find_elements_by_xpath('.//td')[0].text
    state = one_box.find_elements_by_xpath('.//td')[1].text
    gsdp_at_current_price_19_20_ = one_box.find_elements_by_xpath('.//td')[2].text
    gsdp_at_current_price_18_19 = one_box.find_elements_by_xpath('.//td')[3].text
    share_18_19 = one_box.find_elements_by_xpath('.//td')[4].text
    gdp_billion = one_box.find_elements_by_xpath('.//td')[5].text

    all_data.append({
        'rank': rank,
        'state': state,
        'gsdp_at_current_price_19_20_': gsdp_at_current_price_19_20_,
        'gsdp_at_current_price_18_19': gsdp_at_current_price_18_19,
        'share_18_19': share_18_19,
        'gdp_billion': gdp_billion,
    })
    
df = pd.DataFrame(all_data)
df

,rank,state,gsdp_at_current_price_19_20_,gsdp_at_current_price_18_19,share_18_19,gdp_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
* A) Repository title
* B) Repository description
* C) Contributors count
* D) Language used

In [49]:
driver.get('https://github.com/trending')

In [57]:
all_box_url = driver.find_elements_by_xpath('//article/h1/a')

In [60]:
all_urls = []
for one_url in all_box_url:
    all_urls.append(one_url.get_attribute('href'))

In [74]:
all_data = []
for one_url in all_urls:
    
    driver.get(one_url)

    repository_title = driver.find_element_by_xpath('//h1/strong').text
    repository_description = driver.find_element_by_xpath('//div[@class="BorderGrid-cell"]/p').text
    
    if len(driver.find_elements_by_xpath('//div[@class="BorderGrid-cell"]//a[contains(text(),"Contributors")]/span[@class="Counter"]')) != 0:
        contributors_count = driver.find_element_by_xpath('//div[@class="BorderGrid-cell"]//a[contains(text(),"Contributors")]/span[@class="Counter"]').text
    else:
        contributors_count = 'NA'
        
    languages_used_elemens = driver.find_elements_by_xpath('//a[contains(@data-ga-click,"Repository, language")]')
    
    language_used = []
    for lang in languages_used_elemens:
        language_used.append(lang.text.split('\n')[0])

    all_data.append({
        'repository_title': repository_title,
        'repository_description': repository_description,
        'contributors_count': contributors_count,
        'language_used': ', '.join(language_used),
    })
    
    
df = pd.DataFrame(all_data)
df

,repository_title,repository_description,contributors_count,language_used
0,spicedb,"A Zanzibar-inspired database that stores, comp...",7,Go
1,appsmith,Build completely custom admin panels and inter...,130,"TypeScript, Java, JavaScript, Shell, HTML, Jinja"
2,evmos,Evmos chain,3,"Go, Shell, Makefile, Batchfile, Dockerfile"
3,awesome,Awesome lists about all kinds of interesting t...,511,
4,ethermint,Ethermint is a scalable and interoperable Ethe...,20,"Go, Solidity, JavaScript, Shell, Makefile, Bat..."
5,Rocket.Chat,The communications platform that puts data pro...,746,"JavaScript, TypeScript, CSS, HTML, Shell, Dock..."
6,docs,The open-source repo for docs.github.com,877,"JavaScript, TypeScript, HTML"
7,electron,Build cross-platform desktop apps with JavaScr...,"1,072","C++, TypeScript, JavaScript, Objective-C++, HT..."
8,computer-science,Path to a free self-taught education in Comput...,113,
9,The-Art-of-Linear-Algebra,"Graphic notes on Gilbert Strang's ""Linear Alge...",NA,TeX
10,gitoops,all paths lead to clouds,2,"Go, HCL, Python"
11,great_expectations,Always know what to expect from your data.,217,"Python, Jinja, Jupyter Notebook, HTML, JavaScr..."
12,Data-Science-For-Beginners,"10 Weeks, 20 Lessons, Data Science for All!",31,Jupyter Notebook
13,monica,Personal CRM. Remember everything about your f...,234,"PHP, Vue, Blade"
14,appwrite,Appwrite is a secure end-to-end backend server...,145,"JavaScript, PHP, HTML, Less"
15,make-pull-request,Use this as learning repo on how to create suc...,514,"HTML, C++, Java, Python, JavaScript, Jupyter N..."
16,clean-code-javascript,Clean Code concepts adapted for JavaScript,109,JavaScript
17,free-for-dev,"A list of SaaS, PaaS and IaaS offerings that h...","1,033",HTML
18,javascript-algorithms,Algorithms and data structures implemented in ...,143,JavaScript
19,Hacktoberfest2021,A community-led mentorship initiative to help ...,209,
20,serenity,The Serenity Operating System,507,"C++, JavaScript, HTML, C, Shell, CMake"
21,tech-interview-handbook,Curated interview preparation materials for bu...,95,"JavaScript, Python, HTML, CSS"
22,textual,Textual is a TUI (Text User Interface) framewo...,15,"Python, TypeScript, Makefile"
23,RsaCtfTool,RSA attack tool (mainly for ctf) - retreive pr...,56,"Python, Sage, Shell, Haskell"
24,Javascript,A repository for All algorithms implemented in...,160,JavaScript

# 6. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details:
* A) Song name
* B) Artist name
* C) Last week rank
* D) Peak rank
* E) Weeks on board
##### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [101]:
driver.get('https://www.billboard.com')

In [102]:
driver.find_element_by_xpath('//li[@class="header__subnav__item"]/a[text()="Hot 100"]').click()

In [103]:
all_boxes = driver.find_elements_by_xpath('//li[contains(@class,"list__element")]/button')

In [104]:
all_list = []
for one_box in all_boxes:

    song_name = one_box.find_element_by_xpath('.//span[contains(@class,"chart-element__information__song")]').text
    artist_name = one_box.find_element_by_xpath('.//span[contains(@class,"chart-element__information__artist")]').text
    last_week_rank = one_box.find_element_by_xpath('.//span[contains(@class,"text--last")]').get_attribute('innerHTML')
    peak_rank = one_box.find_element_by_xpath('.//span[contains(@class,"text--peak")]').get_attribute('innerHTML')
    weeks_on_board = one_box.find_element_by_xpath('.//span[contains(@class,"text--week")]').get_attribute('innerHTML')


    all_list.append({
        'song_name': song_name,
        'artist_name': artist_name,
        'last_week_rank': last_week_rank,
        'peak_rank': peak_rank,
        'weeks_on_board': weeks_on_board,
    })
    
    
df = pd.DataFrame(all_list)
df

,song_name,artist_name,last_week_rank,peak_rank,weeks_on_board
0,Stay,The Kid LAROI & Justin Bieber,1 LW,1 Pk,11 WoC
1,Industry Baby,Lil Nas X & Jack Harlow,6 LW,2 Pk,9 WoC
2,Way 2 Sexy,Drake Featuring Future & Young Thug,2 LW,1 Pk,3 WoC
3,Bad Habits,Ed Sheeran,3 LW,2 Pk,13 WoC
4,Fancy Like,Walker Hayes,5 LW,5 Pk,14 WoC
...,...,...,...,...,...
95,Knowing You,Kenny Chesney,100 LW,87 Pk,6 WoC
96,Am I Dreaming,Lil Nas X Featuring Miley Cyrus,,97 Pk,1 WoC
97,Same Boat,Zac Brown Band,,98 Pk,1 WoC
98,Come Through,H.E.R. Featuring Chris Brown,95 LW,64 Pk,15 WoC
99,Don't Go Yet,Camila Cabello,88 LW,42 Pk,9 WoC

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details:
* A) Name
* B) Designation
* C) Company
* D) Skills they hire for
* E) Location
##### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [186]:
driver = init_driver('https://www.naukri.com/')

In [187]:
url = driver.find_element_by_xpath('//a[@title="Search Recruiters"]').get_attribute('href')

In [188]:
driver.get(url)

In [189]:
driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys('Data science')

In [190]:
driver.find_element_by_xpath('//button[@id="qsbFormBtn"]').click()

In [191]:
all_list = []


while True:
    
    all_boxes = driver.find_elements_by_xpath('//div[@class="recInfo"]')
    for one_box in all_boxes:

        name = one_box.find_elements_by_xpath('.//a[@class="ellipsis"]')[0].text
        designation = one_box.find_element_by_xpath('.//span[@class="ellipsis clr"]').text
        company = one_box.find_elements_by_xpath('.//a[@class="ellipsis"]')[1].text
        skills_they_hire_for = one_box.find_element_by_xpath('.//div[@class="hireSec highlightable"]').text

        if len(one_box.find_elements_by_xpath('.//small[@class="ellipsis"]')) !=0:
            location = one_box.find_element_by_xpath('.//small[@class="ellipsis"]').text
        else:
            location = ''



        all_list.append({
            'name' : name,
            'designation' : designation,
            'company' : company,
            'skills_they_hire_for' : skills_they_hire_for,
            'location' : location,
        })
            
    if len(driver.find_elements_by_xpath('//div[@class="pagination"]/button[text()="Next"]')) != 0:
        driver.find_element_by_xpath('//div[@class="pagination"]/button[text()="Next"]').click()
    else:
        break
        
df = pd.DataFrame(all_list)
df

,name,designation,company,skills_they_hire_for,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
...,...,...,...,...,...
5943,Vikas Tiwari,Tester,Accenture,"Epicor Pos, C++, Sql, Plsql, Sap, Pos",Mumbai
5944,Faraaz Kharwa,Senior Manager,Netscribes (India) Pvt Ltd,Not Specified,Kolkata
5945,Ravi Manda,Sr. Talent Acquisition Recruiter,New York Global Consultants Pvt. Ltd.,Not Specified,Hyderabad / Secunderabad
5946,Ashish Dave,Sales Head-APAC,Cloudiway,Not Specified,Delhi
5947,Praveen Kumar,Lead Executive,Aricent Technologies (H) Limited,Not Specified,Bengaluru / Bangalore

In [193]:
df.to_csv('all_recurat_naukari.csv')

# 8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ You have to find the following details:
* A) Book name
* B) Author name
* C) Volumes sold
* D) Publisher
* E) Genre

In [194]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [195]:
all_box = driver.find_elements_by_xpath('//tbody/tr')

In [197]:
all_list = []

for one_box in all_box:
    
    book_name = one_box.find_elements_by_xpath('.//td')[1].text
    author_name = one_box.find_elements_by_xpath('.//td')[2].text
    volumes_sold = one_box.find_elements_by_xpath('.//td')[3].text
    publisher = one_box.find_elements_by_xpath('.//td')[4].text
    genre = one_box.find_elements_by_xpath('.//td')[5].text

    all_list.append({
        'book_name': book_name,
        'author_name': author_name,
        'volumes_sold': volumes_sold,
        'publisher': publisher,
        'genre': genre,
    })
    
df = pd.DataFrame(all_list)
df

,book_name,author_name,volumes_sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
* A) Name
* B) Year span
* C) Genre
* D) Run time
* E) Ratings
* F) Votes

In [199]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [200]:
all_boxes = driver.find_elements_by_xpath('//div[@class="lister-item-content"]')

In [202]:
all_list = []
for one_box in all_boxes:
    
    name = one_box.find_element_by_xpath('.//h3/a').text
    year_span = one_box.find_element_by_xpath('.//h3/span[2]').text
    genre = one_box.find_element_by_xpath('.//p/span[@class="genre"]').text
    run_time = one_box.find_element_by_xpath('.//p/span[@class="runtime"]').text
    ratings = one_box.find_element_by_xpath('.//div[@class="ipl-rating-star small"]').text
    votes = one_box.find_element_by_xpath('.//span[@name="nv"]').text
    
    all_list.append({
        'name': name,
        'year_span': year_span,
        'genre': genre,
        'run_time': run_time,
        'ratings': ratings,
        'votes': votes,
    })
    
    
df = pd.DataFrame(all_list)
df

,name,year_span,genre,run_time,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,878,853"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"912,741"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"901,923"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,511"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"230,861"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,798"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,657"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"176,760"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,792"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"201,597"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:
* A) Dataset name
* B) Data type
* C) Task
* D) Attribute type
* E) No of instances
* F) No of attribute
* G) Year
##### Note: - from the home page you have to go to the Show All Dataset page through code

In [204]:
driver.get('https://archive.ics.uci.edu/')

In [207]:
driver.find_element_by_xpath('//b').click()

In [208]:
all_boxes = driver.find_elements_by_xpath('//table[@cellpadding="5" and @border="1"]/tbody/tr')

In [213]:
all_list = []
for i, one_box in enumerate(all_boxes):
    
    # Skiping Column
    
    if i == 0:
        continue
        
    dataset_name = one_box.find_elements_by_xpath('.//td')[0].text
    data_type = one_box.find_elements_by_xpath('.//td')[1].text
    task = one_box.find_elements_by_xpath('.//td')[2].text
    attribute_type = one_box.find_elements_by_xpath('.//td')[3].text
    no_of_instances = one_box.find_elements_by_xpath('.//td')[4].text
    no_of_attribute = one_box.find_elements_by_xpath('.//td')[5].text
    year = one_box.find_elements_by_xpath('.//td')[6].text


    
    all_list.append({
        'dataset_name':dataset_name ,
        'data_type':data_type ,
        'task':task ,
        'attribute_type':attribute_type ,
        'no_of_instances':no_of_instances ,
        'no_of_attribute':no_of_attribute ,
        'year':year ,
    })
    
    
df = pd.DataFrame(all_list)
df

,dataset_name,data_type,task,attribute_type,no_of_instances,no_of_attribute,year
0,Abalone,,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177
1,Adult,,Adult,Multivariate,Classification,"Categorical, Integer",48842
2,Annealing,,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798
3,Anonymous Microsoft Web Data,,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711
4,Arrhythmia,,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,,in-vehicle coupon recommendation,Multivariate,Classification,,12684
584,Gait Classification,,Gait Classification,Multivariate,Classification,Real,48
585,Wikipedia Math Essentials,,Wikipedia Math Essentials,Time-Series,Regression,Real,731
586,Wikipedia Math Essentials,,Wikipedia Math Essentials,Time-Series,Regression,Real,731
587,Synchronous Machine Data Set,,Synchronous Machine Data Set,Multivariate,Regression,Real,557